<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">the Process of Communication For SIR(S) Model </h1>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="../view/sirs.html">SIRS Model</a></li>
            <li role="presentation"><a href="../view/sir.html">SIR Model</a></li>
            <li role="presentation" class="active"><a href="#">Homogeneous Network</a></li>
        </ul>
        <div class="col-xs-10 d3_svg">
            <svg></svg>
        </div>
        <div class="col-xs-2 data_table">
            <p>Susceptible: <code id="susceptible">0</code> </p>
            <p>Infectious: <code id="infectious">0</code></p>
            <p>Recovered: <code id="recovered">0</code></p>
            <p>Total: <code id="total">0</code></p>
            <p>P(S->I) = <code id="alpha">0</code></p>
            <p>P(I->R) = <code id="beta">0</code></p>
            <p>P(R->S) = <code id="gamma">0</code></p>
        </div>
    </div>
</body>
<script src="../script/Homogeneous.js"></script>
<script src="../script/event.js"></script>

</html>