<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">The Process of Spreading for SIR(S) Model </h1>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="../view/sirs.html">SIRS Model</a></li>
            <li role="presentation" class="active"><a href="#">SIR Model</a></li>
            <li role="presentation"><a href="../view/homogeneous.html">Homogeneous Network</a></li>
        </ul>
        <div class="col-xs-10 d3_svg">
            <svg></svg>
        </div>
        <div class="col-xs-2 data_table">
            <p>Susceptible: <code id="susceptible">0</code> </p>
            <p>Infectious: <code id="infectious">0</code></p>
            <p>Recovered: <code id="recovered">0</code></p>
            <p>Total: <code id="total">0</code></p>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">P(S->I) =</span>
                <input type="text" id="alpha" class="form-control" placeholder="n<1">
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">P(I->R) =</span>
                <input type="text" id="beta" class="form-control">
            </div>
            <button onclick="getViewData()" class="btn btn-default btn-block btn-xs" id="submit">submit</button>
        </div>
    </div>
</body>
<script src="../script/SIR.js"></script>
<script src="../script/event.js"></script>

</html>