<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">SIR模型传播过程的可视化</h1>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="sirs.html">SIRS模型</a></li>
            <li role="presentation" class="active"><a href="#">SIR模型</a></li>
        </ul>
        <div class="col-xs-10 d3_svg"> <svg></svg> </div>
        <div class="col-xs-2 data_detail">
            <p>Susceptible: <code id="susceptible">0</code> </p>
            <p>Infectious: <code id="infectious">0</code></p>
            <p>Recovered: <code id="recovered">0</code></p>
            <p>Total: <code id="total">0</code></p>
            <p>P(S->I) = <code id="alpha">0</code></p>
            <p>P(I->R) = <code id="beta">0</code></p>
            <button class="btn btn-default btn-block btn-xs" id="submit">submit</button>
        </div>
    </div>
</body>
<script src="../script/SIR.js"></script>
<script src="../script/event.js"></script>

</html>